<!DOCTYPE html>
{% extends '../base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/about.css' %}">

{% endblock %}
{% block content %}
<div class="container">
    <h1>&nbsp;</h1>
    <h1 style="text-align:center;">About Us</h1>
    <p>&nbsp;</p>
    <p><b> Njohim tregun dhe perspektivat e zhvillimit.</b></p>
    <p>Që prej themelimit në vitin 2022, Real Estate Albania ka punuar me përkushtim dhe profesionalizëm drejt shërbimit të klientit. Këto janë vlerat që vazhdojnë të jenë ende në qendër të filozofisë tonë të biznesit. Kompania jonë falë njohjes së mirë të tregut aktual si dhe të prespektivës së zhvillimit të zonave të ndryshme është një nga hartuesit e studimit për përcaktimin e hartës së vlerës së çmimit minimal fiskal të pronësisë.

        Stafi ynë me shtrije në të tërë Shqipërinë me idetë e tij krijuese jep në çdo kohë zgjidhje fitimprurëse për pronarët, blerësit, qiramarrësit dhe investitorët duke njohur mire prioritetet e zhvillimit në projektet e qeverisë dhe institucioneve ndërkombëtare që i asistojnë në fusha si, turizmi, zona urbane, industriale etj.
        
        Edhe nëse je blerës për herë të parë, apo je vetëm një hap larg nga shtëpia e ëndrrave të tua, dëshiron të investosh në pasuri të paluajtshme, apo të krijosh biznesin tënd, Real Estate Albania ofron shërbim me zyra në çdo zonë banimi dhe kudo ku bëhen investime të reja. Të gjitha pronat janë të standarteve të larta në treg dhe kanë shtrirje në të gjitha qytetet kryesore të vendit. Ekspertiza jonë mbi legjislacionin dhe proçedurat në lidhje me çdo transkaksion të pasurive të paluajtshme e bën kompaninë tonë zgjedhjen e preferuar për çdo investitor vendas apo të huaj.
    </p>
    <p><b>Stafi Yne</b></p>
    <p>Ne zgjedhim, punesojme dhe trainojme profesionistet me te talentuar dhe me me eksperience, duke ju dhene atyre fleksibilitetin dhe strategjine kombetare qe nevojitet per t’ju shtuar vlera. Profesionistet tane tashme jane te vendosur ne te gjithe vendin, duke asistuar cdo nevoje te klientit , implementuar zgjidhje dhe duke u pershtatur me kushtet strategjike, operacionale dhe mundesine financiare te klientit. Duke punuar me nje pjestar te Kompanise sone, klienti perfiton nje larmi programesh, sherbimesh dhe metoda te krijuara specifikisht per te, duke pershtatur kerkesen dhe oferten e klienteve ne te gjithe vendin.  Per shume njerez, te blesh ose te shesesh nje prone ndoshta eshte nje nder transaksionet financiare me te medha qe ata do te bejne ne jeten e tyre. Kjo eshte arsyeja pse profesionistet e Real Estate Albania jane te perkushtuar per te drejtuar klientet ne cdo hap te transaksioneve te tyre duke tejkaluar pergjegjesite baze te nje agjenti te Pasurive te Paluajteshme.</p>
</div>
{% endblock %}