{% extends '../base.html' %}
{% load static %}
{%block css %}

<link href="{% static 'core/css/team.css' %}" rel="stylesheet">

{%endblock%}
{% block content %}

<div class="container">
    <div class="row">
        <h1>Our Team</h1>
    </div>
    <div class="row">
    {% for agent in agents %}
    
      <div class="col-md-4">
          <div class="card text-center">
            <img src="{{agent.image.url}}" alt="{{agent.alt_text}}"class="card-img-top">
              <div class="card-body">
                  <h5 class="card-title">  {{agent.first_name}} {{agent.last_name}}</h5>
                  <h5 class="card-title"> <i class="fa-solid fa-square-phone-flip"></i> {{agent.mobile}}</h5>
                  <h5 class="card-title"> <i class="fa-solid fa-envelope"></i> {{agent.email}}</h5>
                  <a href="{{agent.get_absolute_url}}" class="btn btn-primary">Shiko Pronat</a>
                  
                  
              </div>
           
          </div>
      </div>
      {%endfor%}
    </div>
      <!-- <div class="col-md-4">
          <div class="card text-center">
            <img src="{{agent.image}}" alt="{{agent.alt_text}}"class="card-img-top">
              <div class="card-body" >
                  <h5 class="card-title"> <i class="fa-solid fa-location-dot"></i> Bulevardi Zogu I,Tirane </h5>
                  <h5 class="card-title"> <i class="fa-solid fa-square-phone-flip"></i> +355 697585460</h5>
                  <h5 class="card-title"> <i class="fa-solid fa-envelope"></i> bulevardi@gmail.com</h5>
                  <a href="#" class="btn btn-primary">Go somewhere</a>

                  
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card text-center">
              <img src="media/{{agent.image}}" alt="{{agent.alt_text}}"class="card-img-top">
              <div class="card-body" >
                  <h5 class="card-title"><i class="fa-solid fa-location-dot"></i> Ish Blloku,Tirane</h5>
                  <h5 class="card-title"> <i class="fa-solid fa-square-phone-flip"></i> +355 697585460</h5>
                  <h5 class="card-title"> <i class="fa-solid fa-envelope"></i> blloku@gmail.com</h5>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                  
              </div>
          </div>
      </div> -->
      
  </div>
    

</div>
{%endblock%}