<!DOCTYPE html>
{% extends 'home/base2.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/about.css' %}">

{% endblock %}
{% block content %}
<div class="container">
    <h1>&nbsp;</h1>
    <h1 style="text-align:center;">Politikat e privatesise</h1>
    <p>&nbsp;</p>
    <p>Real Estate Albania, pjesë e rrjetit Dominusoft, siguron përdoruesit dhe vizitorët e faqes së internetit <a href="https://dominusoft.co/">Dominusoft</a> se është e përkushtuar në zbatimin me rigorozitet të detyrimeve që rrjedhin nga ligji Nr.9887 dt. 10.03.2008 “Për mbrojtjen e të dhënave personale” dhe akteve nënligjore të nxjerra në zbatim të tij. Kjo rubrikë ka për objekt informimin e subjekteve të të dhënave personale mbi mënyrën e mbledhjes, përpunimit, përhapjes, ruajtjes dhe masave të sigurisë që janë marrë për të dhënat e tyre në faqen e internetit: <a href="https://dominusoft.co/">Dominusoft</a>
    <p>Të dhënat që sigurohen nga përdorimi i cookies* kur vizitoni faqen e Real Estate Albania përdoren për qëllime statistikore dhe studimore si dhe për të përcjellë shërbime të caktuara sipas kërkesës të vizitorit. Këto të dhëna bëjnë të mundur vetëm identifikimin e sa vijon:<br>
        <b>• Informacione personale të përdoruesit si emër, mbiemër, numër telefoni ose adresën e email-it, por vetëm ne rastin se përdoruesi zgjedh t’i jape këto informacione.</b><br>
        <b>• Evidentimi i aktivitetit ose veprimtarive te përdoruesit.</b><br>
        <b>• Adresa IP e përdoruesit;</b><br>
        <p>Cookies* - tekonologjia që përshkruan ruajtjen e të dhënave të sjelljeve tuaja në një faqe web.</p>
        <p>Real Estate Albania kryen përpunimin e ligjshëm të të dhënave personale duke respektuar dhe garantuar të drejtat dhe liritë themelore të individit dhe në veçanti të drejtën e mbrojtjes së të dhënave personale, duke garantuar mos-shpërndarjen e tyre në palë të treta. Çdo individ rezervon të drejtën e aksesit, korrigjimit apo fshirjes së të dhënave të veta pa pagesë duke dërguar një email tek adresa: info@dominusoft.co Ky njoftim mbi ruajtjen e privatësisë për të arritur mbrojtjen e të dhënave personale nuk përfshin lidhjet midis kësaj faqeje dhe faqeve të tjera.</p>
        <p>Real Estate Albania rezervon të drejtën e modifikimit dhe përditësimit të këtyre politikave në çdo moment, në përputhje me legjislacionin e aplikuar. Për çdo informacion të mëtejshëm lutem kontaktoni:<br>
            <b>Real Estate</b><br>
            <b>Rruga “Myslym Shyri”, Tiranë </b><br>
            <b>info@dominusoft.co</b></p>
    </p>
</div>
{% endblock %}
